/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom */
html,
body {
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    font-size: 20px;
    background: rgb(255, 239, 186);
    background: linear-gradient(315deg, rgba(255, 239, 186, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(236, 233, 230, 1) 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;

    .container {
        max-width: 1320px;
        margin: 0 auto;
    }

    .space-between {
        display: flex;
        justify-content: space-between;
    }

    .bold {
        font-weight: bold;
        margin-top: 20px;
    }

    .description {
        color: #696969;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    ul {
        display: flex;
        gap: 40px;
    }

    .logo {
        color: white;
        font-size: 24px;
        font-weight: bold;
        padding: 18px;
        text-shadow: 1px 1px black, -1px -1px black,
            1px -1px black, -1px 1px black;
    }

    .title {
        font-size: 36px;
    }

    .content {
        font-size: 24px;
        line-height: 1.5;
    }

    .project-title {
        font-size: 28px;
    }

    .sub-title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }
}

header {
    width: 100%;
    align-items: center;

    .nav a:hover {
        color: #555;
    }
}

section {
    padding-top: 100px;
    padding-bottom: 100px;

    &-primary {
        align-items: center;
        padding-top: 100px;
    }

    .text-wrap {
        flex-direction: column;
        margin: 0 30px;
    }

    .personal-photo {
        max-width: 512px;
    }

    .item {
        display: flex;

        div {
            padding: 20px;
            line-height: 1.5;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
        }

        &-content {
            max-width: 640px;
        }
    }

    .image {
        width: 600px;
        min-height: 400px;
        position: relative;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);

        .slide {
            opacity: 0;
            width: 600px;
            height: 400px;
            object-fit: cover;
            object-position: left top;
            position: absolute;
            transition: all 1s ease;
            z-index: 1;
            &.active {
                opacity: 1;
            }
        }
    }

    .arrow {
        position: absolute;
        top: 50%;
        color: #000;
        font-size: 30px;
        cursor: pointer;
        z-index: 100;

        &:focus {
            outline: 0;
            /*或none*/
        }
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    .tertiary-wrap {
        display: flex;
        justify-content: space-evenly;

        img {
            max-width: 300px;
        }

        div {
            max-width: 400px;
            padding: 20px;
            line-height: 1.5;

            ul {
                list-style: circle;
                flex-wrap: wrap;
                gap: 25px;
            }
        }

    }
}


footer {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}